*{
    .menu-container{
        display: flex;
        flex-wrap: wrap;
        justify-self: center;
        padding: 20px;
        max-width: 100%
        margin: 0 auto;
        background-color: #f9f9f9;
    }
    .food-item{
        background-color: white;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        border-radius: 8px;
        text-align: center;
        width: 30%;
        margin-bottom: 30px;
        padding-bottom: 15px;
    }
    .food-item img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .food-item h3{
        font-size: 16px;
        margin: 15px 0 5px;
        font-family: Arial, Helvetica, sans-serif;
        color: #333;
    }
    @media { max-width: 760px;
        @media (max-width: 768px) {
            .food-item {
                width: 48%; /* Tăng độ rộng lên để chỉ còn 2 món/hàng */
            }.food-item {
            width: 48%;
        }
        
    }
}