.bai-dia-chi {
    text-align: center;
}
.tieu-de{
    color: #1e90ff;
}

.khung-anh {
    background-color: #f4f4f9;
    padding: 20px;
}

.chu-nghieng {
    color: #1e90ff;
    font-style: italic; 
}


.co-so-1 { color: red; }
.co-so-2 { font-style: italic; }
.co-so-3 { text-decoration: underline; } /* underline gạch chân */
.co-so-4 { font-weight: bold; }          /* Bold in đậm */