
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #ffffff;
}

.container {
    width: 30%;
    text-align: center;     

}
h1 {
    color: #1e90ff; 
    margin-bottom: 20px;
    font-size: 24px;
}


.form-group {
    margin-bottom: 15px; 
    text-align: center;
}

/*Input nằm trên các dòng riêng biệt */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; 
    padding: 10px;
    border: 1px solid #1e90ff;
    outline: none;
}

/* Riêng phần textarea (Phản hồi) cho cao hơn */
textarea {
    resize: vertical; /* Cho phép người dùng kéo giãn chiều cao */
    min-height: 100px;
}


.btn-submit {
    background-color: #00bfff; /* Màu xanh nền nút */
    color: white;
    border: 1px solid #000; /* Viền đen bao quanh nút như ảnh */
    padding: 5px 15px;
    cursor: pointer;
    font-weight: bold;
}

.btn-submit:hover {
    background-color: #1e90ff; 
}